# Xcode
!**/*.xcsettings
!**/*.xcscheme
*.pbxuser
!default.pbxuser
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Xcode, Gradle
build/

# Android
.idea
.gradle
local.properties
*.iml

# Node
node_modules
*.log
.nvm

# OS X
.DS_Store

# CocoaPods
Pods

#fastlane
AppboyProject/ios/fastlane/README.md
AppboyProject/ios/fastlane/report.xml

# Emacs
*~
